$border-radius-base: 0;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$metaRed: #d30d2b;
$metaWhite: #ffffff;
$metaBlack: #231F20;
$metaGray: #bbbbbb;

body {
	background-color: $metaBlack;
	color: $metaGray;
}

h1, h2 {
	color: $metaRed;
}

a:link {
	color: $metaWhite;
	&:hover {
		text-decoration: none;
		color: $metaRed;
	}
}
div .movieList .featureMovies img{
	height: 200px;
	width: 250px;
}